#sabores {
    display: grid;
    width: 60%;
    margin: 50px auto;
    text-align: left;
    grid-gap: 5px;
}

#sabores>figure {
    height: 200px;
    margin: 2em 1em;
}

.sabores-title {
    font-size: 4em;
    font-weight: 700;
    line-height: 1.42;
    text-align: left;
    color: var(--corPreta);
}

.pizza-paragraph {
    font-size: 16px;
    line-height: 1.42;
    text-align: left;
    color: var(--corPreta);
    margin: 0.3em 0;
}

.link-pizza {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: var(--corPreta);
    padding-bottom: 2px;
}

.pizza-image {
    width: 60%;
    border-radius: 60px;
}

.sabores-title {
    text-align: center;
}

.pizza-1-1 {
    grid-row: 1;
    grid-column: 1;
}

.pizza-1-2 {
    grid-row: 1;
    grid-column: 2;
}

.pizza-2-1 {
    grid-row: 2;
    grid-column: 2;
}

.pizza-2-2 {
    grid-row: 2;
    grid-column: 1;
}

.pizza-3-1 {
    grid-row: 3;
    grid-column: 1;
}

.pizza-3-2 {
    grid-row: 3;
    grid-column: 2;
}

.pizza-4-1 {
    grid-row: 4;
    grid-column: 2;
}

.pizza-4-2 {
    grid-row: 4;
    grid-column: 1;
}

.pizza-5-1 {
    grid-row: 5;
    grid-column: 1;
}

.pizza-5-2 {
    grid-row: 5;
    grid-column: 2;
}

.pizza-6-1 {
    grid-row: 6;
    grid-column: 2;
}

.pizza-6-2 {
    grid-row: 6;
    grid-column: 1;
}

#mais-sabores {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.71;
    text-align: center;
    color: #2C2E30;
    background-color: var(--corPrincipal);
    border-bottom: 3px solid #ffffff;
}

#mais-sabores:hover {
    
}
