:root {
    --corPrincipal: #f8b82e;
    --corBranca: #fff;
    --corEscura: #6e4b00;
    --corPreta: #000;
    --fonte-principal: 'Oswald';
}


/* --- Styling Home Page --- */

#home-body {
    font-size: 16px;
    font-family: var(--fonte-principal);
    font-weight: 400;

    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100%;
}

header {
    color: var(--corBranca);
    font-family: var(--fonte-principal);
    font-weight: 400;
    margin-top: 25px;
    height: 80px;
}

header>nav {
    float: right;
}

header>nav>a {
    font-size: 20px;
    padding: 25px 10px;
    color: var(--corBranca);
    text-decoration: none;
    margin-right: 1em;
}

a:hover {
    color: var(--corPrincipal);
    cursor: pointer;
}

.border {
    border: 3px solid var(--corPrincipal);
    border-radius: 21px;
    padding: 13px;
}

.border:hover {
    background-color: var(--corEscura);
    color: var(--corPrincipal);
    transition: all 0.2s;
}

#logo {
    height: 600px;
    line-height: 5;
}

#logo-white {
    width: 30%;
}

#text-below {
    margin: 1em 20em;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.89;
    text-align: center;
    color: var(--corBranca);
}

#button {
    width: 209.9px;
    height: 57.1px;
    padding: 15px 25px;
    border-radius: 8px;
    background-color: var(--corPrincipal);
    color: var(--corBranca);
    cursor: pointer;
}

#button:hover {
    background-color: var(--corEscura);
    color: var(--corPrincipal);
    transition: all 0.2s;
}

#differentials {
    display: flex;
    justify-content: center;
}

#differentials>figure {
    width: 300px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.14);
    background-color: var(--corBranca);
    padding: 10px;
    margin: 0 40px;
}

.differentials-title {
    color: #2c2e30;
    font-size: 18px;
}

.differentials-title strong {
    width: 158px;
    height: 63px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: center;
    color: var(--corPrincipal);
}

.container-slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: dashed 2px var(--corPrincipal);
    margin: 30px 50px;
}

#container-figure {
    text-align: left;
}

.container-title {
    height: 36px;
    font-family: "Aileron Bold";
    font-size: 34px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.container-text {
    width: 421px;
    height: 340px;
    font-family: "Aileron LightItalic";
    font-size: 28px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #182c3f;
}

.person-name {
    width: 147px;
    height: 28px;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.19;
    text-align: left;
    display: block;
    color: #ffffff;
}

.person-profession {
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    text-align: left;
    color: #182c3f;
    display: block;
}

.slide-bar {
    float: left;
}

.person-picture {
    width: 456.49px;
    height: 540.42px;
    border-radius: 3px;
}

#black-logo{
    margin-top: 50px;    
    margin-right: center;
    margin-bottom: 65px;
    margin-left: center;
}

#black-logo>img{
    width: 329.7px;
    height: 206.9px;
}
