#formPedido {
    display: grid;
    text-align: center;
    font-weight: 400;
    justify-items: center;
}

fieldset {
    width: 50%;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

select {
    font-family: var(--fontePrincipal);
    font-weight: 700;
    text-transform: uppercase;
}

#map {
    width: 70%;
    justify-self: center;
}