#formPedido {
    display: grid;
    text-align: center;
    font-weight: 400;
    justify-items: center;
}

fieldset {
    margin: 5px 0;
}

select {
    font-family: var(--fontePrincipal);
    font-weight: 700;
    text-transform: uppercase;
}

#map {
    width: 70%;
    justify-self: center;
}