/* --- STYLING FOR ALL PAGES --- */

:root {
    --corPrincipal: #fead00;
    --corBranca: #fff;
    --corEscura: #211700;
    --fonte-principal: 'Oswald';
    --corPreta: #000;
  }

* {
    margin: 0;
    padding: 0;
}

.secondary-header {
    height: 80px;
    width: 100%;
    background-color: var(--corPreta);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.secondary-header>.right-header>a {
    color: var(--corBranca);
    margin-right: 2em;
    font-family: var(--fonte-principal);
    text-decoration: none;
    font-size: 18px;
}

.secondary-header>nav>a:hover {
    color: var(--corPrincipal);
}

.right-header {
    float: right;
}

.left-header {
    margin: auto;
    margin-left: -80px;
}

.left-header>img {
    width: 25%;
}

body {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

section {
    text-align: center;
}

section>figure {
    float: left;
}

footer {
    color: var(--corBranca);
    font-weight: 400;
    font-family: var(--fonte-principal);
    line-height: 1.21;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #000;
}

.left-section>.footer-text-link {
    margin-left: 2.7em;
}

.footer-text-link:hover {
    color: #fead00;
}

.right-section {
    margin-left: 950px;
}

.language-form {
    text-decoration: none;
}

.language-select {
    text-decoration: none;
}

.linkedin-icon {
    width: 30px;
    margin: 8px 10px 0px 0px;
}

.instagram-icon {
    width: 27px;
    margin: 0px 10px 2px 0px;
}
