/* --- STYLING FOR ALL PAGES --- */

:root {
    --corPrincipal: #fead00;
    --corBranca: #fff;
    --corEscura: #211700;
    --fonte-principal: 'Oswald';
  }

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

header {
    color: var(--corBranca);
    font-family: var(--fonte-principal);
    margin-top: 25px;
    height: 80px;
}

header>nav {
    float: right;
}

header>nav>a {
    padding: 25px 10px;
    color: var(--corBranca);
    text-decoration: none;
    margin-right: 1em;
}

a:hover {
    color: var(--corEscura);
}

section {
    text-align: center;
}

section>figure {
    float: left;
}

footer {
    color: var(--corBranca);
    font-weight: 400;
    font-family: var(--fonte-principal);
    line-height: 1.21;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #000;
}

section.footer-esquerda>.textos__footer {
    margin-left: 2.7em;
}

.textos__footer:hover {
    color: #fead00;
}

section.footer-direita {
    margin-left: 950px;
}

.form-idioma {
    text-decoration: none;
}

.select-idioma {
    text-decoration: none;
}

.linkedin-icon {
    width: 26px;
    margin-right: 10px;
}

.instagram-icon {
    width: 26px;
    margin-right: 10px;
}

.header__secundario {
    margin-top: 0px;
    background-color: var(--corPrincipal);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__secundario>section>img {
    width: 20%;
}

.header__direita {
    margin: auto;
}

.header__esquerda {
    margin: auto;
}



.imagem-pizza {
    width: 80%;
}



/* --- SABORES PAGE --- */

#receitas {
    display: grid;
    width: 60%;
    margin: auto;
    text-align: left;
}

#receitas>figure {
    height: 200px;
}

.receita-1-1 {
    grid-row: 1;
    grid-column: 1;
}

.receita-1-2 {
    grid-row: 1;
    grid-column: 2;
}

.receita-2-1 {
    grid-row: 2;
    grid-column: 1;
}

.receita-2-2 {
    grid-row: 2;
    grid-column: 2;
}

.receita-3-1 {
    grid-row: 3;
    grid-column: 1;
}

.receita-3-2 {
    grid-row: 3;
    grid-column: 2;
}


